@charset "utf-8";

/*** total style ***/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background-color: #ecf9ff;
  color: black;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 100%;
  min-width: 960px;
}

/*** clearfix ***/
.cf:before, .cf:after {
  content:"";
  display:block;
  overflow:hidden;
}
.cf:after { clear:both; }
.cf { zoom:1; }

/*** normalize 対策 ***/
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  float: left;
}
img{
  vertical-align: top;
}
table{
  border: 0;
  border-collapse:collapse;
}
table tr{
  padding: 0;
}
table tr td{
  border: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

/*** mouse over ***/
a img {
  border: medium none transparent;
}

.mxw {
  max-width: 960px;
  margin: auto;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.pc {display: block;}
.sp {display: none;}
.scale {
  transform: scaleX(0);
  transition: .7s;
  opacity: 0;
}
.scaleTtl {
  -moz-animation: scaleTtl 1s forwards;
  -webkit-animation: scaleTtl 1s forwards;
  -o-animation: scaleTtl 1s forwards;
  -ms-animation: scaleTtl 1s forwards;
  animation: scaleTtl 1s forwards;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  opacity: 0;
}
@-webkit-keyframes scaleTtl {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes scaleTtl {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
/********************************/

header {
  position: relative;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  border-top: solid 5px #6a9ad4;
}
header h1 {
  width: 99%;
  font-size: 1em;
  padding: 5px 0 0 1%;
  font-weight: normal;
}
.headInner {
  padding: 10px 0;
  position: relative;
}
.headTop {
  width: 700px;
  text-align: right;
  position: relative;
}
.headTop .tel01 {
  display: inline-block;
  color: #898989;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  bottom: 17px;
}
.headTop .entry01 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: url(../images/bk_entry.png) 0 0 repeat;
  color: #898989;
  font-size: 12px;
  text-align: center;
  width: 170px;
  height: 45px;
  line-height: 45px;
}
.headTop .entry01:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(.6);
  content: url(../images/img_entry_hv.png);
  transition: .4s;
  opacity: 0;
}
.headTop .entry01:hover:after {
  top: 0;
  left: 0;
  transform: scale(1);
  opacity: 1;
}
.headTop .entry01:hover img {
opacity: 1;
}
.headTop .entry01 img {
  vertical-align: middle;
}
.headTop ul {
  margin-top: 18px;
  display: inline-block;
  width: auto;
}
.headTop ul li {
  margin-left: 25px;
}
.headTop ul li:first-child {
  margin-left: 0;
}
.headTop ul li a {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
  color: #6a9ad4;
}

.headTop ul li a span {
  display: block;
  position: relative;
}
.headTop ul li a span i {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff9c00;
  position: absolute;
  left: 0;
  bottom: -5px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform .10s ease-in-out;
  transition: transform .10s ease-in-out;
}
.headTop ul li a:hover span i {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.headTop ul a {
  text-decoration: none;
  font-size: 1.2em;
}
.headTop ul li.current span i {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.slideBtn {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 99;
}
.sldCnt { display: none; }
header .sldCnt {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 999;
}
.index header .sldCnt {
  position: absolute;
  top: 126px;
  left: 0;
  width: 100%;
  height: 300px;
}
header .sldCnt li {
  display: inline-block;
  width: 33%;
  padding-top: 40px;
}
header .sldCnt li img:first-child {
  width: 185px;
  height: 185px;
  margin-bottom: 20px;
  transition: .4s;
  transform: rotateY(0deg) ;
}
header .sldCnt li img:first-child:hover {
  width: 185px;
  height: 185px;
  margin-bottom: 20px;
  transform: rotateY(360deg) ;
}
header .sldCnt li:first-child img:last-child { width: 30%; }
header .sldCnt li:nth-child(2) img:last-child { width: 47%; }
header .sldCnt li:last-child img:last-child { width: 64%; }
header .sldCnt li a {
  color: #fff;
}
header .spSlide { display: none; }
footer {
  padding-top: 90px;
  width: 100%;
  margin: 0 auto;
  background-color: #d5f0fd;
  color: #898989;
}
.footerNav {
  width: 50%;
}
.fAdd {font-size: 17px;}
.fLogo {
  padding-bottom: 10px;
  text-align: center;
}
.fWebBtn01 {
  position: relative;
  overflow: hidden;
  width: 440px;
  height: auto;
  margin-top: 15px;
  border-radius: 6px;
  z-index: 1;
}
.fWebBtn01 .pc {
  position: relative;
  overflow: hidden;
  background: #0060a6;
  width: 440px;
  height: 128px;
  border-radius: 6px;
  text-align: center;
}
.fWebBtn01 .pc:after {
  position: absolute;
  top: 0;
  left: -200%;
  content: "";
  background: linear-gradient(to right, #f00 0, #f00 50%, #0060a6);
  /*background: #f00;*/
  width: 200%;
  height: 100%;
  border-radius: 6px;
  transition: .6s;
}
.fWebBtn01 .pc:hover:after {
  top: 0;
  left: 0;
  content: "";
}
.fWebBtn01 a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.fWebBtn01 .pc img {
  position: relative;
  margin: 15px auto 0;
  z-index: 2;
}
.fNav > ul {
  width: 50%;
}
.fNav > ul li {
  float: none;
  width: 160px;
  border-bottom: solid 1px #dcdcdc;
}
.fNav > ul li:last-child,
.fNav > ul li > ul li {
  border-bottom: none;
}
.fNav > ul li a {
  color: #0063a9;
  font-size: 17px;
  display: block;
  line-height: 56px;
  width: 160px;
  padding-left: 25px;
  position: relative;
  text-decoration: none;
}
.fNav > ul > li > a {font-weight: bold;}
.fNav > ul li a:hover {
  text-decoration: underline;
}
.fNav > ul li a:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #ff9c00;
  border-right: 2px solid #ff9c00;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fNav .sldCnt {
  position: absolute;
  background: #d5f0fd;
  z-index: 2;
  padding: 10px;
}
.fNav .sldCnt li { line-height: 2em; }
.fNav .sldCnt a {
  color: #898989;
  line-height: 36px;
  width: 160px;
  padding-left: 30px;
}
.fNav .sldCnt a:before {
  left: 10px;
  border-top: 2px solid #7da9dc;
  border-right: 2px solid #7da9dc;
}

.fbArea {
  width: 50%;
  text-align: center;
}
#copy {
  margin-top: 30px;
  text-align: center;
  padding: 20px 0;
  color: #fff;
  background-color: #6a9ad4;
}

.wrapper { background-color: #ecf9ff; }

/* mainvisual */
.mv01 {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 960px;
}
.mv01 .pcMv01 {
  height: 720px;
  overflow: hidden;
  display: block;
}
/*.mv01 .pcMv01 div {width: 100%; height: 100%;}*/
.mv01 .pcMv01 ul {width: 100%;height: 100%;position: relative;}
.mv01 .pcMv01 ul li {
  position: absolute;
  top: 0;
  left: 0;
  float: none;
  background-color: #d5f0fd;
  width: 100% !important;
  height: 100%;
  -webkit-animation: scaling 10s;
  animation: scaling 10s;
}
.mv01 .pcMv01 ul li:nth-of-type(1) {
background: url(../images/pic_mv01.jpg) center 35% no-repeat;
background-size: cover;
}
.mv01 .pcMv01 ul li:nth-of-type(2) {
background: url(../images/pic_mv02.jpg) center 15% no-repeat;
background-size: cover;
}
.mv01 .pcMv01 ul li:nth-of-type(3) {
background: url(../images/pic_mv03.jpg) center 15% no-repeat;
background-size: cover;
}
.mv01 .pcMv01 ul li:nth-of-type(4) {
background: url(../images/pic_mv04.jpg) center 15% no-repeat;
background-size: cover;
}

@keyframes scaling {
  0% {
      opacity: 0;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  30% {
      opacity: 1;
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
  }
  100% {
      -webkit-transform: scale(1.15);
      transform: scale(1.15);
  }
}
.mv01 .pcMv01 img {
  width: 100%;
}
.mv01 .catchcopy01 {
  background-color: #6a9ad4;
  padding: 10px 0;
  width: 76%;
  position: absolute;
  top: 60%;
  color: #fff;
  text-align: center;
}
.mv01 .catchcopy01 span {
  font-size: 35px;
  font-weight: bold;
}
.catchcopy02 {
  background-color: #ff9c00;
  text-align: right;
  width: 62%;
  padding: 10px 0;
  position: absolute;
  bottom: 9%;
  right: 0;
  text-align: center;
  color: #fff;
}
.catchcopy02 span {
  display: inline-block;
  text-align: right;
  width: auto;
}
.catchcopy01 {
  animation:show 1.5s both;
  animation-delay: 1s;
}
.catchcopy02 {
  animation:show02 1.5s both;
  animation-delay: 2s;
}
.d1 {animation-delay:1s;}
.d2 {animation-delay:2s;}
@keyframes show {
  0% {
    left: -100%;
  } 100% {
    left: 0;
  }
}
@keyframes show02 {
  0% {
    right: -100%;
  } 100% {
    right: 0;
  }
}
.works {
  background: linear-gradient(transparent 100px,#6a9ad4 100px,#6a9ad4);
  padding: 45px 0;
}
.works .mxw {
  background: url(../images/img_work01.png) 0 0 no-repeat;
}
.worksInner01 > div {
  width: 400px;
  text-align: center;
  padding: 20px 0 40px;
}
.worksInner01 {
  background-color:linear-gradient(transparent 50%,#6a9ad4 50%,#6a9ad4);
}
.worksTxt01 {
  padding: 110px 0 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.worksTxt01 img {
margin-bottom: 30px;
}
.worksImg01 {
  clear: both;
  width: 100%;
  margin: auto;
  padding-top: 65px;
  text-align: center;
  cursor: pointer;
}
.worksImg01 li {
  float: none;
  position: relative;
  display: inline-block;
  width: 270px;
}
.worksImg01 li a {
  position: relative;
  display: block;
  border-radius: 50%;
  z-index: 999;
}
.worksImg01 li img:first-child {
  margin-bottom: 20px;
}
.worksImg01 li:nth-of-type(2) {
  margin: 0 40px;
}
.worksImg01 li a:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 270px;
  overflow: hidden;
}
.worksImg01 li:nth-of-type(1) a:hover:after {
  content: "";
  background: url(../images/anime_pachinko.png) no-repeat;
  animation: hovAnime 2s steps(19) forwards;
}
.worksImg01 li:nth-of-type(2) a:hover:after {
  content: "";
  background: url(../images/anime_hotel.png) no-repeat;
  animation: hotelAnime 2s steps(12) forwards;
}
.worksImg01 li:nth-of-type(3) a:hover:after {
  content: "";
  background: url(../images/anime_rest01.png) no-repeat;
  animation: restAnime 2s steps(18) forwards;
}
@keyframes hovAnime {
  to {
    background-position: -5130px 0;
  }
}
@keyframes hotelAnime {
  to {
    background-position: -3240px 0;
  }
}
@keyframes restAnime {
  to {
    background-position: -4860px 0;
  }
}

.recruit {
  /*background: linear-gradient(#d5f0fd 65px,transparent 65px,transparent 65px,transparent 320px,#d5f0fd 320px, #d5f0fd), url(../images/bk_recruit01.png) 0 0 repeat;*/
  padding: 65px 0 95px;
  overflow: hidden;
}
.imgRecruit01 {
  position: absolute;
  right: -8%;
  bottom: 0;
}
.recruit .mxw {
  background: #ffa414 url(../images/bg_recruit.png);
  width: 100%;
  max-width: 100%;
  position: relative;
}
.recruitInnerAll {
  position: relative;
  /*background: url('../images/img_recruit01.png') right bottom no-repeat;*/
  width: 100%;
  max-width: 980px;
  margin: auto;
  z-index: 1;
}
.recruitInner01 {
  padding-top: 40px;
  position: relative;
}
.recruitTtl01 {
  width: 460px;
  text-align: center;
}
.recruitTxt01 {
  width: 350px;
  color: #fff;
  font-size: 18px;
}
.recruitBtn01 {
  padding: 35px 0 0 130px;
}
.recruitBtn01 .pc a {
  display: inline-block;
  margin-bottom: 30px;
}
.recruitBtn01 .pc a:first-of-type {
  position: relative;
  background: #6a9ad4;
  width: 270px;
  height: 54px;
  text-align: center;
}
.recruitBtn01 .pc a:first-of-type:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #fff;
  width: 51%;
  height: 100%;
  transition: .4s;
}
.recruitBtn01 .pc a:first-of-type:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background: #fff;
  width: 51%;
  height: 100%;
  transition: .4s;
}
.recruitBtn01 .pc a:first-of-type:hover:before {
  top: 0;
  left: 0;
  content: "";
  background: #fff;
  width: 0%;
}
.recruitBtn01 .pc a:first-of-type:hover:after {
  top: 0;
  right: 0;
  content: "";
  background: #fff;
  width: 0%;
  height: 100%;
}
.recruitBtn01 .pc a:first-of-type img {
  position: relative;
  margin: 17px auto 0;
  z-index: 2;
}
.recruitBtn01 .pc a:nth-of-type(2) {
  position: relative;
  display: inline-block;
  background: #f00;
  width: 343px;
  height: 55px;
  margin: 0 0 30px 40px;
  border-radius: 5px;
  text-align: center;
}
.recruitBtn01 .pc a:nth-of-type(2):before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #0060a6;
  width: 51%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: .4s;
}
.recruitBtn01 .pc a:nth-of-type(2):after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background: #0060a6;
  width: 51%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: .4s;
}
.recruitBtn01 .pc a:nth-of-type(2):hover:before {
  width: 0%;
}
.recruitBtn01 .pc a:nth-of-type(2):hover:after {
  width: 0%;
  height: 100%;
}
.recruitBtn01 .pc a:nth-of-type(2) img {
  position: relative;
  margin: 5px auto 0;
  z-index: 2;
}
/*.recruitBtn01 img.pc {
  display: inline-block;
  margin-bottom: 25px;
}*/

.message {
  background-color: #6a9ad4;
}
.message .topTtl {
  max-width: 85%;
}
.message .messageContents {
  display: table;
  width: 100%;
}
.messageInner01 {
  display: table-cell;
}
.messageInner02 {
  display: table-cell;
  background-color: #6a9ad4;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.messageTtl01 img { margin: auto; }
.messageTxt01 {
  margin: 50px 0;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
}
.messageBtn01 .pc a {
  position: relative;
  display: block;
  overflow: hidden;
  background: #ff9c00;
  width: 200px;
  height: 40px;
  margin: auto;
  text-align: center;
}
.about .messageBtn01 .pc a { background: #6a9ad4; }
.messageBtn01 .pc a:before {
  position: absolute;
  top: 0;
  left: -15%;
  content: "";
  background: #fff;
  width: 66%;
  height: 100%;
  transition: .4s;
  transform: skewX(50deg);
}
.messageBtn01 .pc a:after {
  position: absolute;
  top: 0;
  right: -15%;
  content: "";
  background: #fff;
  width: 66%;
  height: 100%;
  transition: .4s;
  transform: skewX(50deg);
}
.messageBtn01 .pc a:hover:before {
  top: 0;
  left: -15%;
  content: "";
  background: #fff;
  width: 0%;
}
.messageBtn01 .pc a:hover:after {
  top: 0;
  right: -15%;
  content: "";
  background: #fff;
  width: 0%;
  height: 100%;
}
.messageBtn01 .pc a img {
  position: relative;
  margin: auto;
  padding-top: 13px;
  z-index: 2;
}
.about {
  margin-top: 65px;
  background-color: #ff9c00;
}
.about .aboutTtl {
  max-width: 65%;
}
.about .messageInner02 {
  background-color: #ff9c00;
}
#map_canvas {
  width: 100%;
  height:390px;
  margin: 0 auto;
}

@media screen and (max-width: 759px) {
  body {min-width: 100%;}
  img {max-width: 100%;}
  .mxw {
      max-width: 100%;
      margin: auto;
      padding: 0 2%;
  }
  .fll {float: none;}
  .flr {float: none;}
  .pc {display: none;}
  .sp {display: block;}
  header {
    border-top: none;
    background: #ecf9ff;
  }
  .sp_menu {font-size: 0; padding: 0 3vw;}
  .headInner {
      position: fixed;
      background: #fff;
      width: 100%;
      padding: 0;
      border-top: solid 5px #6a9ad4;
      box-shadow: 0px 0px 4px 5px rgba( 70, 70, 70, .5);
      z-index: 9999;
  }
  .logo {
      width: 30vw;
      position: relative;
      padding: 2vh 0;
      display: inline-block;
      vertical-align: middle;
  }
  .logo img {width: 100%;}
  .sp_tel01 {
      width: 63vw;
      display: inline-block;
      vertical-align: middle;
      text-align: right;
  }
  .sp_menu img.spEntry {
      width: 20vw;
      margin: 0 2vw 0 0 ;
      vertical-align: middle;
  }
  .sp_menu .spTel {
      width: 12.4vw;
      margin-right: 2vw;
  }
  .sp_menu .menuBtn01 {
      position: relative;
      display: inline-block;
      width: 12.4vw;
      vertical-align: top;
  }
  .sp_menu .menuBtn01 img {
      width: 12.4vw;
  }
  .sp_menu .menuBtn01.close:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/sp_menubtn_close.png);
    background-size: cover;
  }
  .headTop {
      display: none;
      background: rgba(106, 154, 212, 0.9);
      min-width: 100%;
      height: 100%;
      min-height: 100vh;
      text-align: left;
      position: relative;
  }
  .headTop ul {
      position: absolute;
      margin-top: 0;
      display: block;
      width: 100%;
  }
  .headTop ul li {
      height: 100%;
      margin-left: 0;
      float: none;
      padding: 0;
      border-bottom: 1px solid #d5f0fd;
  }
  .headTop ul li:hover { background: #d5f0fd; }
  .headTop ul li a:hover { color: #6a9ad4; }
  .headTop ul li a {
      display: block;
      text-align: left;
      padding: 0 10vw;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      line-height: 2.6em;
  }
  .headTop ul li a span { display: block; }
  .headTop ul li a:hover span { border-bottom: none; }
  .headTop ul li a span i { display: none; }
  .headTop ul a {
      text-decoration: none;
      font-size: 1.2em;
  }
  .headTop .spSlide {
    position: relative;
    display: none;
    background: #d5f0fd;
    border-top: 1px solid #6a9ad4;
    color: #6a9ad4;
  }
  .headTop .spSlide a { color: #6a9ad4; }
  .headTop .spSlide li { border-bottom: 1px solid #6a9ad4; }
  .mv01 .pcMv01 ul li:nth-of-type(1) {
  background: url(../images/sp_mv01.png) top center no-repeat;
  background-size: cover;
  }
  .mv01 .pcMv01 ul li:nth-of-type(2) {
  background: url(../images/sp_mv02.png) top center no-repeat;
  background-size: cover;
  }
  .mv01 .pcMv01 ul li:nth-of-type(3) {
  background: url(../images/sp_mv03.png) top center no-repeat;
  background-size: cover;
  }
  .mv01 .pcMv01 ul li:nth-of-type(4) {
  background: url(../images/sp_mv04.png) top center no-repeat;
  background-size: cover;
  }
  /*.mv01 .pcMv01 ul li:nth-of-type(1) { background-position:  22% 15%; }
  .mv01 .pcMv01 ul li:nth-of-type(2) { background-position:  40% 20%; }*/
  .mv01 {
    min-width: 100%;
    max-width: 100%;
  }
  .mv01 .catchcopy01 {
    top: auto;
    bottom: 20%;
    width: 92%;
    padding: 2%;
    margin-bottom: 30px;
    text-align: left;
  }
  .mv01 .catchcopy01 span { font-size: 26px; }
  .mv01 .catchcopy01 img { max-height: 17px; }
  .catchcopy02 {
    position: relative;
    top: 0;
    width: 100%;
    padding: 3% 6%;
  }
  .mv01 .catchcopy02 span { text-align: left; }
/*footer*/
  footer {
    position: relative;
    padding-top: 40px;
    text-align: center;
  }
  .fLogo img { max-width: 50% }
  .fWebBtn01 img {
    max-width: 99%;
    margin: auto;
  }
  .footerNav { width: 100%; }
  .fAdd {
    width: 94%;
    margin: auto;
    font-size: 3.6vw;
    text-align: left;
  }
  .fbArea { width: 100%; }
  /*.fb_iframe_widget { float: right; }*/
  #copy {
    margin-top: 40px;
    font-size: 3.5vw;
    color: #fff;
  }

/*contents*/
  .wrapper { position: relative; }
  .works {
    background: linear-gradient(transparent 60px,#6a9ad4 60px,#6a9ad4);
    padding-top: 4%;
  }
  .works .mxw {
    background: url(../images/img_work01_sp.png) 0 0 no-repeat;
    background-size: 50%;
  }
  .worksTxt01 {
    float: right;
    width: 50%;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
  }
  .worksTxt01 img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .worksTxt01 {
    padding-top: 80px;
  }
  .worksImg01 {
    padding-top: 10px;
    text-align: center;
  }
  .worksImg01 li {
    display: inline-block;
    width: 49.2%;
    margin-bottom: 15px;
  }
  .worksImg01 li img {
    width: 95%;
  }
  .worksImg01 li:nth-child(1) img:last-child { max-width: 83%; }
  .worksImg01 li:nth-child(2) img:last-child { max-width: 41.6%; }
  .worksImg01 li:nth-child(3) img:last-child { max-width: 93%; }
  .worksImg01 li:nth-of-type(2) { margin: 0; }
  .worksImg01 li:nth-of-type(1) a:hover:after { content: none; }
  .worksImg01 li:nth-of-type(2) a:hover:after { content: none; }
  .worksImg01 li:nth-of-type(3) a:hover:after { content: none; }

  .recruit {
    padding: 40px 0;
  }
  .recruit .mxw {
    background: #ffa414 url(../images/bg_recruit.png);
    padding-bottom: 10px;
  }
  .recruitBtn01 img.pc {
    display: none;
    margin-bottom: 25px;
  }
  .recruitInner01 {
    padding-top: 0;
  }
  .recruitTxtArea {
    position: relative;
    width: 100%;
    text-align: left;
  }
  .recruitTtl01 {
    position: relative;
    float: left;
    width: 58%;
    padding-top: 40px;
    text-align: left;
    z-index: 99;
  }
  .recruitTtl01 img {
    max-width: 100%;
  }
  .recruitTxt01 {
    position: relative;
    float: left;
    width: 60%;
    font-size: 14px;
    z-index: 99;
  }
  .imgRecruit01 {
    position: absolute;
    bottom: 0;
    right: -6%;
    padding-top: 10px;
    /*max-width: 40%;*/
    height: 100%;
  }
  .recruitBtn01 {
    display: block;
    width :100%;
    padding-left: 0;
  }
  .recruitBtn01 a {
    display: block;
    width :100%;
  }
  .recruitBtn01 a:nth-of-type(2) {
    margin: 0;
  }
  .recruitBtn01 img {
    max-width: 65%;
    margin: 0 auto 20px;
  }
  .message {
    background: #6a9ad4;
    padding: 40px 0 0;
  }
  .message img:first-of-type { margin: 0 auto 30px; }
  .messageContents { width: 100%; }
  .messageInner01 { width: 50%; }
  .messageInner01 img { width: 100%; }
  .messageInner02 {
    width: 50%;
    padding-left: 2%;
    text-align: left;
    vertical-align: top;
  }
  .messageTxt01 {
    margin: 0;
    font-size: 14px;
  }
  .messageBtn01 {
    max-width: 50%;
    margin: auto;
  }
  .messageBtn01 {
    display: block;
  }
  .about {
    background: #ff9c00;
    margin-top: 40px;
  }
  .fWebBtn01 {
    width: 100%;
    padding: 15px 0 30px;
  }
}
