@charset "utf-8";
.row {
  overflow: hidden;
  width: 100%;
}
.col {
  width: 50%;
  float: left;
}
/*.lowVisual*/
.lowVisual {
  width: 100%;
  height: 300px;
  text-align: center;
}
.lowVisual h1 {line-height: 300px; }
.lowVisual h1 img { vertical-align: middle;}

/*.bnrArea*/
.bnrArea {
  background: #ecf9ff;
  width : 100%;
  padding: 50px 0;
}
.bnrArea ul {
  overflow: hidden;
  width : 100%;
}
.bnrArea li:last-child { float: right; }
.bnrArea li {
  background: #fff;
  width: 470px;
}
.bnrTtl {
  background: #6a9ad4;
  padding-left: 30px;
  color: #fff;
  font-size: 28px;
  font-weight: normal;
  line-height: 40px;
}
.bnrArea .row { padding: 15px 30px; }
.bnrArea .col:first-of-type { width: 35%; }
.bnrArea .col:last-of-type {
  width: 65%;
  padding-left: 5px;
}

/*worker*/
.worker { width: 100%; }
.worker h2 {
  background: #ff9c00;
  text-align: center;
  line-height: 110px;
}
.worker h2 .pc { display: inline-block; }
.worker h2 img { vertical-align: middle;}
.workerArea {
  background: #fff0a9;
  width: 100%;
  padding: 40px 0;
}
.workerList {
  width: 100%;
  overflow: hidden;
}
.workerList li {
  background: #6a9ad4;
  width: 270px;
  margin-right: 10px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}
.workerList li:nth-child(-n+3) {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.workerList .interviewer {
  background: #ecf9ff;
  width: 120px;
  /*height: 220px;*/
  margin-right: 0;
  color: #6c6c6c;
  font-size: 15px;
  line-height: 1.2em;
  letter-spacing: 1px;
}
.workerList .interviewer img { width :100%; }

/*.question*/
.question {
  background: #ecf9ff;
  width: 100%;
  padding: 25px 0 60px;
}
.qTtl {
  margin-bottom: 20px;
  color: #6a9ad4;
  font-size: 36px;
  letter-spacing: 3px;
  text-align: center;
}
.qLink {
  overflow: hidden;
  width: 100%;
  margin-bottom: 40px;
}
.qLink li {
  position: relative;
  overflow: 0;
  width: 226px;
  height: 204px;
  margin-right: 18px;
  text-align: center;
  transition: .3s;
}
.qLink li:nth-of-type(1) { background: url(../images/bg_q1.png)center center no-repeat;}
.qLink li:nth-of-type(2) { background: url(../images/bg_q2.png)center center no-repeat;}
.qLink li:nth-of-type(3) { background: url(../images/bg_q3.png)center center no-repeat;}
.qLink li:nth-of-type(4) {
  background: url(../images/bg_q4.png)center center no-repeat;
  margin-right: 0;
}
.qLink li:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  overflow: hidden;
  width: 226px;
  height: 204px;
  animation: qAnime 1.5s steps(7) forwards;
}
.qLink li:nth-of-type(1):hover:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  overflow: hidden;
  width: 226px;
  height: 204px;
  background: url(../images/piko_q1.png) no-repeat;
  animation: qAnime 1.5s steps(7) forwards;
}
.qLink li:nth-of-type(2):hover:after { background: url(../images/piko_q2.png) no-repeat; }
.qLink li:nth-of-type(3):hover:after { background: url(../images/piko_q3.png) no-repeat; }
.qLink li:nth-of-type(4):hover:after { background: url(../images/piko_q4.png) no-repeat; }
.qLink li:nth-of-type(2):hover { background: url(../images/bg_q2_hv.png)center center no-repeat;}
.qLink li:nth-of-type(3):hover { background: url(../images/bg_q3_hv.png)center center no-repeat;}
.qLink li:nth-of-type(4):hover { background: url(../images/bg_q4_hv.png)center center no-repeat;}
.qLink li:hover a { opacity: 0;}
@keyframes qAnime {
  to {
    background-position: -1589px 0;
  }
}

.qLink a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 50px 0 0 22px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}
.qBoxOrg {
  background: #ff9c00;
  width: 100%;
  margin-bottom: 60px;
  padding: 30px;
}
.qBoxBlu {
  background: #6a9ad4;
  width: 100%;
  margin-bottom: 60px;
  padding: 30px;
}
.qSecTtl {
  margin-bottom: 25px;
  color: #fff;
  font-size: 26px;
  line-height: 65px;
}
.qSecTtl img {
  display: inline-block;
  margin-right: 20px;
}
.ansArea {
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
}
.qBoxOrg .ansArea:last-child,
.qBoxBlu .ansArea:last-child {
  margin-bottom: 0;
}
.ansArea {
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
}
.ansArea>div {
  float: left;
}
.ansArea .person {
  width: 106px;
  /*padding-right: 30px;*/
  text-align: center;
  color: #fff;
}
.ansArea .person img { margin-bottom: 5%; }
.ansArea div:first-child.person { margin-right: 30px; }
.ansArea div:last-child.person { margin-left: 30px; }
.ansArea .answer {
  position: relative;
  background: #fff;
  width: 430px;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;

  /*max-width: 58%;*/
}

.ansArea .ans_l { margin-right: 30px; }
.ansArea .ans_r { margin-left: 30px; }
.ansArea .ans_l:after {
  position: absolute;
  top: 40px;
  right: 98%;
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid transparent;
  border-right:  30px solid #fff;
}
.ansArea .ans_r:after {
  position: absolute;
  top: 40px;
  left: 98%;
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #fff;
  border-right:  30px solid transparent;
}
.answer p {
  background: linear-gradient( #6c6c6c .0em, transparent .1em );
  background-size: auto 2.1em;
  background-position: 0 -2.1em;
  font-size: 18px;
  line-height: 2.1em;
}
/*働く人たちの声IE調整*/
@media all and (-ms-high-contrast:none){
  .ansArea { display: inline-block; }
  .ansArea .answer { width: 425px; }
  .short .answer { width: 515px; }
  .pachi .ansArea .answer { width: 430px; }
  .pachi .mid .answer { width: 460px; }
  .pachi .short .answer { width: 490px; }
  .resr .short .answer { width: 515px; }
  /*背景罫線*/
  .answer p {
    background-size: auto 2.1em;
    background-position: 0 -2.1em;
    line-height: 2.1em;
  }
}
.spPhoto ul { display: none; }
.obo { text-align: center; }
.obo .pc a:nth-of-type(1) {
  position: relative;
  display: inline-block;
  background: #f00;
  width: 343px;
  height: 75px;
  border-radius: 5px;
  text-align: center;
}
.obo .pc a:nth-of-type(1):before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #0060a6;
  width: 51%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: .4s;
}
.obo .pc a:nth-of-type(1):after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background: #0060a6;
  width: 51%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: .4s;
}
.obo .pc a:nth-of-type(1):hover:before {
  width: 0%;
}
.obo .pc a:nth-of-type(1):hover:after {
  width: 0%;
  height: 100%;
}
.obo .pc a:nth-of-type(1) img {
  position: relative;
  margin: 16px auto 0;
  z-index: 2;
}
/*shopInfo*/
.shopInfo {
  background: #6a9ad4;
  width: 100%;
  padding: 30px 0 60px;
}
.shopInfo h3 {
  background: #fff;
  margin-bottom: 45px;
  color: #6a9ad4;
  font-size: 30px;
  text-align: center;
  line-height: 55px;
}
.shopList {
  overflow: hidden;
  width: 100%;
}
.shopList li {
  position: relative;
  width: 470px;
  margin: 0 18px 85px 0;
  color: #fff;
}
.shopList li:nth-child(2n) { margin-right: 0; }
.shopDetail {
  margin: 0;
  padding: 0;
}
.shopDetail dt {
  margin-bottom: 5px;
  padding: 6px 8px;
  border-left: 7px solid #ff9c00;
  font-size: 26px;
  font-weight: bold;
  line-height: 1em;
}
.shopDetail dd {
  margin: 0 0 5px;
  font-size: 19px;
}
.shopDetail dd:nth-child(n+3) {
  padding-left: 3em;
  text-indent: -3em;
}
/*.shopDetail dd span { padding-left: 3em; }*/
.shopDetail iframe {
  width: 100%;
  height: 250px;
}
.topicLink {
  display: block;
  position: absolute;
  top: 100%;
  overflow: hidden;
  background: #ff9c00;
  padding-left: 15px;
  width: 100%;
  font-size: 22px;
  line-height: 40px;
  transition: .3s;
  z-index: 2
}
.topicLink:hover { color: #ff9c00; }
.topicLink:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 100%;
  background: #fff;
  transition: .3s;
  z-index: -1
}
.topicLink:hover:after { width: 100%;
}
.topicLink a {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  z-index: 5;
}
.topicLink a:hover { color: #ff9c00; }
.topicLink img {
  display: inline-block;
  margin: -4px auto 0 20%;
  vertical-align: middle;
}

/*otherWork*/
.otherWork {
  background: url(../../images/bg_recruit.png) repeat;
  width: 100%;
  padding: 25px 0 35px;
}
.otherWork h4 {
  margin-bottom: 25px;
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.otherWork ul {
  overflow: hidden;
  width: 100%;
}
.otherWork li {
  position: relative;
  background: url(../images/bnr_hotel.png) center center no-repeat;
  background-size: content;
  width: 447px;
  height: 123px;
}
.otherWork li:last-child {
  float: right;
  background: url(../images/bnr_rest.png);
  background-size: cover;
}
.otherWork li span {
  position: absolute;
  bottom: 0;
  display: block;
  background: #6a9ad4;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.otherWork li img {
  margin-top: -4.5px;
  vertical-align: middle;
}
.otherWork li a {
  display: block;
  width: 100%;
  height: 100%;
  /*padding-top: 83px;*/
  transition: .3s;
}
.otherWork li a span {
  width: 100%;
  background: #6a9ad4;
  background-size: 0;
  transition: 0.7s;
}
.otherWork li a:hover span {
  background: #fff;
  background-size: cover;
  animation: bg 1.5s;
}
@keyframes bg {
  0% {
      opacity: 100%;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  30% {
      opacity: 0;
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
  }
  100% {
      opacity: 100%;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

/****************************
pachinko
*****************************/
.pachi .lowVisual {
  background: url(../images/pachi_mv.png) center no-repeat;
  background-size: cover;
}
.pachi .bnrArea li {width: 100%; }
.pachi .bnrArea li .col:first-child { width: 35%; }
.pachi .bnrArea li .col:last-child { width: 65%; }
.pachi .bnrArea li img:last-child { margin: 12% 0 0 5% }
.pachi .topicLink img { margin-left: 5%; }

/****************************
restaruant
*****************************/
.rest .lowVisual {
  background: url(../images/rest_mv.png) center no-repeat;
  background-size: cover;
}
.rest .bnrArea li,
.refre .bnrArea li {width: 100%; }
.rest .bnrArea li .col:first-child { width: 17%; }
.rest .bnrArea li .col:last-child { width: 83%; }
.refre .topicLink { position: relative; }
.rest .shopDetail dd:nth-child(n+5) {
  padding-left: 5em;
  text-indent: -5em;
}
.rest .shopDetail dd:nth-child(n+5) {
  padding-left: 5em;
  text-indent: -5em;
}
.rest .topicLink { display: none; }
.rest .otherWork li:first-child {
  background: url(../images/bnr_pachi.png);
  background-size: cover;
}
.rest .otherWork li:last-child {
  background: url(../images/bnr_hotel.png);
  background-size: cover;
}
/****************************
refre
*****************************/
.refre .lowVisual {
  background: url(../images/hotel_mv.png) center no-repeat;
  background-size: cover;
}
.refre .bnrArea li .col:first-child { width: 25%; }
.refre .otherWork li:first-child {
  background: url(../images/bnr_pachi.png);
  background-size: cover;
}
.refre .shopList li {
  position: relative;
  width: 100%;
  margin: 0;
}
.refre .shopDetail dd { width: 50%; }
.refre .shopDetail dd:nth-child(2) { float: left; }
.refre .shopDetail dd:nth-child(n+3) {
  width: 48%;
  float: right;
  padding-left: 3em;
  text-indent: -3em;
}
.refre .shopDetail dd:last-child {
  position: absolute;
  bottom: 6px;
  right: 0;
  padding-left: 0;
  text-indent: 0
}


@media screen and (max-width: 759px) {
.lowVisual { position: relative; }
.lowVisual img { max-width: 44%; }
.pachi .lowVisual {
  background: url(../images/sp_pachi_main.png) center center no-repeat;
  background-size: cover;
}
.refre .lowVisual {
  background: url(../images/sp_refre_main.png) center center no-repeat;
  background-size: cover;
}
.rest .lowVisual {
  background: url(../images/sp_rest_main.png) center center no-repeat;
  background-size: cover;
}
.bnrArea { padding: 20px 0 0; }
.bnrArea li {
  width: 100%;
  margin: 0 0 20px;
}
.bnrArea .row { padding: 4%; }
.rest .bnrArea li .col:first-child {
  width :100%;
  margin-bottom: 2%;
}
.rest .bnrArea li .col:last-child { width :100%; }
.pachi .bnrArea li .col:first-child {
  width :100%;
  margin-bottom: 2%;
}
.pachi .bnrArea li .col:last-child { width :100%; }
.refre .bnrArea li .col:first-child {
  width :100%;
  margin-bottom: 2%;
}
.refre .bnrArea li .col:last-child { width :100%; }
.bnrArea img { max-width: 30%; }
.pachi .bnrArea img:first-child { max-width: 20%; }
.pachi .bnrArea li img:last-child {
  max-width: 30%;
  margin: 4vw 0 0 2%;
}
.bnrArea p { font-size: 2.8vw; }
.bnrTtl {
  padding-left: 3%;
  font-size: 4vw;
}
.pachi .bnrTtl { font-size: 3vw; }

/*worker*/
.worker {
    width: 96%;
    margin: auto;
}
.worker h2 { line-height: 0; }
.worker h2 .sp { display: inline-block; }
.worker h2 .pc { display: none; }
.worker h2 img {
  max-width: 46%;
  padding: 2% 0;
}
.workerArea { padding: 3%; }
.workerList {
  text-align: center;
}
.workerList li {
  float: none;
  display: inline-block;
  width: 48%;
  margin: 0 2% 4% 0;
  font-size: 3vw;
  line-height: 2em;
  vertical-align: text-top;
}
.workerList li:nth-child(n+2) {margin-right: 0; }
.workerList li:nth-child(n+3) {margin-bottom: 0; }
.workerList li:nth-child(3n) { margin-right: 1%; }
.workerList li img {
  width: 100%;
  height: 100%;
}
.workerList li.interviewer {
  width: 21.2%;
  height: 100%;
  height: auto;
}
/*.question*/
.question { padding: 20px  0 30px;}
.qTtl { font-size: 5vw; }
.qLink { margin-bottom: 30px; }
.qLink li {
  width: 25%;
  margin-right: 0;
}
.qLink li:nth-of-type(1) { background: #ff9c00 url(../images/sp_q1.png) center center no-repeat; background-size: 65%;}
.qLink li:nth-of-type(2) { background: #6a9ad4 url(../images/sp_q2.png) center center no-repeat; background-size: 65%;}
.qLink li:nth-of-type(3) { background: #ff9c00 url(../images/sp_q3.png) center center no-repeat; background-size: 65%;}
.qLink li:nth-of-type(4) { background: #6a9ad4 url(../images/sp_q4.png) center center no-repeat; background-size: 65%;}
.qLink li:nth-of-type(1):hover { background: #ff9c00 url(../images/sp_q1.png) center center no-repeat; background-size: 65%;}
.qLink li:nth-of-type(2):hover { background: #6a9ad4 url(../images/sp_q2.png) center center no-repeat; background-size: 65%;}
.qLink li:nth-of-type(3):hover { background: #ff9c00 url(../images/sp_q3.png) center center no-repeat; background-size: 65%;}
.qLink li:nth-of-type(4):hover { background: #6a9ad4 url(../images/sp_q4.png) center center no-repeat; background-size: 65%;}
.qLink li:nth-of-type(1):hover:after { content: none; }
.qLink li:nth-of-type(2):hover:after { content: none; }
.qLink li:nth-of-type(3):hover:after { content: none; }
.qLink li:nth-of-type(4):hover:after { content: none; }
.qLink li a {
  /*visibility: hidden;*/
  width: 100%;
  height: 100%;
  padding: 0;
  opacity: 0;
}
.qBoxOrg,
.qBoxBlu {
  margin-bottom: 30px;
  padding: 4%;
}
.qSecTtl {
  margin-bottom: 15px;
  padding-left: 3.6em;
  font-size: 3.7vw;
  line-height: 3em;
}
#q3 .qSecTtl,
#q4 .qSecTtl { line-height: 1.7em;}
.qSecTtl img {
  position: absolute;
  left: 6%;
  width: 3em;
  height: 3em;
}
.ansArea { margin-bottom: 4%; }
.ansArea .person { margin-bottom: 4%; }
.ansArea .person {
  width: 17%;
  font-size: 14px;
}
.ansArea .person img { max-width: 100%; }
.ansArea div:first-child.person { margin-right: 8%; }
.ansArea div:last-child.person { margin-left: 8%; }
.ansArea .ans_r,
.ansArea .ans_l { margin: 0; }
.ansArea .answer {
  width: 75%;
  padding: 4% 5%;
}
.ansArea .ans_l:after {
    top: 6vw;
    right: 99%;
    content: "";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid #fff;
}
.ansArea .ans_r:after {
    top: 6vw;
    left: 99%;
    content: "";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid transparent;
    border-left: 20px solid #fff;
}
.answer p {
  font-size: 2.9vw;
  background-size: auto 2em;
}
.ansArea .pict { display: none; }
.spPhoto ul {
  display: flex;
  flex-flow: space-between;
  align-items: stretch;
  width: 100%;
}
.spPhoto ul li { margin-right: 4%; }
.spPhoto ul li:last-child { margin-right: 0; }
.spPhoto ul li img {
  width: 100%;
  height: 100%;
}
.obo img { max-width: 62.5% }

/*shopInfo*/
.shopInfo {
  width: 96%;
  margin: 0 auto 30px;
  padding: 2.5% 1.5%
}
.shopInfo h3 {
  margin-bottom: 10px;
  font-size: 6vw;
  line-height: 1.8em;
}
.shopList li {
  width: 100%;
  margin: 0 0 20px 0;
}
.shopDetail dt {
  margin-bottom: 10px;
  border-left: 4px solid #ff9c00;
  font-size: 4vw;
}
.shopDetail dd {
  float: left;
  width: 50%;
}
.shopDetail dd:nth-child(n+3) {
  float: right;
  padding-left: 3em;
  font-size: 3.4vw;
}
.rest .shopDetail dd:nth-child(n+5) {
  padding-left: 0;
  text-indent: 0;
}
.shopDetail iframe {
  width: 95%;
}
.topicLink {
  width: 80%;
  margin: auto;
  padding: 0 2.5%;
  font-size: 3.3vw;
  line-height: 2em;
}
.pachi .topicLink { position: relative; }
.topicLink img {
  max-width: 42%;
  margin-top: -.5vw;
}

/*otherWork*/
.otherWork {
  padding: 2.5% 0;
}
.otherWork h4 {
  margin-bottom: 2.5%;
  font-size: 5.5vw;
}
.otherWork ul { padding-bottom: 3%; }
.otherWork li {
  float: none;
  display: inline-block;
  background-size: cover;
  width: 48%;
  margin-right: 4%;
}
.otherWork li:last-child { margin-right: 0; }
.otherWork li span {
  /*top: 80%;*/
  height: 39%;
}
.otherWork li img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
}
/*.otherWork li img { margin-top: -1.8vw; }*/
.otherWork li:first-child img { width: 30%; }
.otherWork li:last-child img { width: 59%; }
.otherWork li a:hover span { animation: none; }


/**********************
.refre
***********************/
.refre .shopDetail dd:last-child {
  position: relative;
  width: 100%;
}
.refre .topicLink img {
  max-width: 12%;
  margin-left: 20%;
}
.refre .otherWork li:first-child img { width: 58%; }


}
/**********************
.restraunt
***********************/
.rest .otherWork li:first-child img { width: 58%; }
.rest .otherWork li:last-child img { width: 30%; }


}
